/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #f6f8fa;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/* Utils */

.border {
  border: 1px solid;
}

.border.green {
  border-color: greenyellow;
}

.border-red {
  border-color: red;
}

.align-middle {
  display: inline-block;
  vertical-align: middle;
}

.padding-left-right-50 {
  padding-left: 50px;
  padding-right: 50px;
}

.padding-top-bottom-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.done::before {
  content: "✓";
  font-size: 0.6rem;
  padding: 3px 5px;
  border: 1px solid #9fbfb5;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  color: #9fbfb5;
}

.miss::before {
  content: "✕";
  font-size: 0.6rem;
  padding: 3px 5px;
  border: 1px solid red;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  color: red;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: #3daff2;
}
.bg-darkgree {
  background-color: #65c3ac;
}
.bg-violet {
  background-color: #9c72e9;
}
.bg-orange {
  background-color: #eea337;
}
.bg-pink {
  background-color: #d6679e;
}
.bg-green {
  background-color: #afc92a;
}

/* Header */
header div {
  padding: 5px;
}

header .logo img {
  width: 50px;
}

/* Main */

main section button {
  padding: 5px;
  border: 1px solid #ced0cf;
  border-radius: 5px;
}

div.container {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px 30px;
}

/* Butoon Section */

div section.container button#addtask {
  background-color: #46adf3;
  color: white;
}

div section.container button#addsection {
  background-color: white;
  color: #ced0cf;
}

/* list section */

section div.list {
  margin-bottom: 30px;
}

section div.list h2::before {
  content: "▼ ";
  font-size: 0.8rem;
}
section div.list div.element {
  margin: 10px 0;
}

section div.list div.element span {
  padding: 0 5px;
}

section div.list div.element span.tag {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ced0cf;
  font-size: 0.6rem;
}
