/********************* Reset *****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: #f6f8fa;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

nav {
  width: 300px;
}

/********************* Header *****************************/

header div {
  padding: 5px;
}

header .logo img {
  width: 50px;
}

/********************* Main *****************************/

main section a {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ced0cf;
  text-decoration: none;
}

div.container {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px 30px;
}

/********************* Section Button *****************************/

div section.container a#addtask {
  background-color: #46adf3;
  color: white;
}

div section.container a#addtask:hover {
  background-color: red;
}

div section.container a#addsection {
  background-color: white;
  color: #ced0cf;
}

/********************* List *****************************/

section details.list {
  margin-bottom: 30px;
}

section details.list summary {
  font-size: 1.5rem;
}

section details.list summary::marker {
  font-size: 0.9rem;
}

/********************* List Item *****************************/

section details.list div.element {
  margin: 10px 0;
}

section details.list div.element span {
  padding: 0 5px;
}

/********************* Tag *****************************/

section details.list div.element span.tag {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ced0cf;
  font-size: 0.6rem;
  color: white;
}
